
<h1>Add available parking spaces</h1>
<div class="row justify-content-center">
  <div class="col-md-10">
      <div class="row">
          <div class="form-group col-md-5">
            <label for="fromDate">Week Starting</label>
            <input name="fromDate" type="date" [(ngModel)]="parkingSpaces.fromDate" class="form-control" required>
          </div>
        </div>
  <form (ngSubmit)="onSubmit()" #parkingForm="ngForm">
    <div class="form-group">
      <label for="monday">Monday</label>
      <textarea #monday="ngModel" numberCommaValidator [(ngModel)]="parkingSpaces.monday" numberCommaValidator class="form-control" name="monday" required></textarea>
        <small id="HelpBlock" class="form-text text-muted">Parking space numbers must be separated by commas, be actual space numbers and not be duplicates.
        </small>
      <div *ngIf="monday.invalid && (monday.dirty || monday.touched)" class="alert alert-danger">
        <div *ngIf="monday.errors.required">
          Entries for Monday are required.
        </div>
        <div *ngIf="monday.errors.minlength">
          Entries must be at least 4 characters long.
        </div>
        <div *ngIf="monday.errors.numberCommaValidator">
          Entries must be comma separated numbers without spaces.
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="tuesday">Tuesday</label>
      <textarea #tuesday="ngModel" numberCommaValidator type="text" [(ngModel)]="parkingSpaces.tuesday" class="form-control" name="tuesday" required></textarea>
      <div *ngIf="tuesday.invalid && (tuesday.dirty || tuesday.touched)" class="alert alert-danger">
        <div *ngIf="tuesday.errors.required">
          Entries for Tuesday are required.
        </div>
        <div *ngIf="tuesday.errors.minlength">
          Entries must be at least 4 characters long.
        </div>
        <div *ngIf="tuesday.errors.numberCommaValidator">
          Entries must be comma separated numbers without spaces.
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="wednesday">Wednesday</label>
      <textarea #wednesday="ngModel" numberCommaValidator type="text" [(ngModel)]="parkingSpaces.wednesday" class="form-control" name="wednesday" required></textarea>
      <div *ngIf="wednesday.invalid && (wednesday.dirty || wednesday.touched)" class="alert alert-danger">
        <div *ngIf="wednesday.errors.required">
          Entries for Wednesday are required.
        </div>
        <div *ngIf="wednesday.errors.minlength">
          Entries must be at least 4 characters long.
        </div>
        <div *ngIf="wednesday.errors.numberCommaValidator">
          Entries must be comma separated numbers without spaces.
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="thursday">Thursday</label>
      <textarea #thursday="ngModel" numberCommaValidator type="text" [(ngModel)]="parkingSpaces.thursday" class="form-control" name="thursday" required></textarea>
      <div *ngIf="thursday.invalid && (thursday.dirty || thursday.touched)" class="alert alert-danger">
        <div *ngIf="thursday.errors.required">
          Entries for Thursday are required.
        </div>
        <div *ngIf="thursday.errors.minlength">
          Entries must be at least 4 characters long.
        </div>
        <div *ngIf="thursday.errors.numberCommaValidator">
          Entries must be comma separated numbers without spaces.
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="friday">Friday</label>
      <textarea #friday="ngModel" numberCommaValidator type="text" [(ngModel)]="parkingSpaces.friday" class="form-control" name="friday" required></textarea>
      <div *ngIf="friday.invalid && (friday.dirty || friday.touched)" class="alert alert-danger">
        <div *ngIf="friday.errors.required">
          Entries for Friday are required.
        </div>
        <div *ngIf="friday.errors.minlength">
          Entries must be at least 4 characters long.
        </div>
        <div *ngIf="friday.errors.numberCommaValidator">
          Entries must be comma separated numbers without spaces.
        </div>
      </div>
    </div>

    <div class="form-group">
        <label for="note">Note</label>
        <textarea #note="ngModel" numberCommaValidator type="text" [(ngModel)]="parkingSpaces.note" class="form-control" name="note" required></textarea>
        <div *ngIf="note.invalid && (note.dirty || note.touched)" class="alert alert-danger">
          <div *ngIf="note.errors.required">
            Entries for Notes are required.
          </div>
          <div *ngIf="note.errors.minlength">
            Entries must be at least 4 characters long.
          </div>
          <div *ngIf="note.errors.numberCommaValidator">
            Entries must be comma separated numbers without spaces.
          </div>
        </div>
      </div>

    <!-- <div class="form-group">
        <label for="toDate">Week Ending</label>
        <input name="toDate" type="date" [(ngModel)]="parkingSpaces.toDate" class="form-control" required>
      </div> -->
      <div class="row justify-content-between">
        <div class="col-md-5">
          <button type="submit" class="btn btn-primary" [disabled]="!parkingForm.form.valid" role="button">Add parking spaces</button>
        </div>
      <div class="col-md-2 text-right">
        <a href="addparkingspaces">Clear all</a>
      </div>
    </div> 
  </form>
 <p>{{diagnostic}}</p>
  </div>
</div>