<div id="header" class="clearfix">
    <img src="/assets/image/logo.png" alt="" class="float-left" />
    <h1 class="float-left">Parking Availability</h1>
    <span class="float-right">W/C {{fromDate}}</span>
</div>
<table class="table" border="1">
  <thead>
  <tr>
    <th>M<span>onday</span> - {{monDate}}</th>
    <th>T<span>ueday</span> - {{tueDate}}</th>
    <th>W<span>ednesday</span> - {{wedDate}}</th>
    <th>T<span>hursday</span> - {{thuDate}}</th>
    <th>F<span>riday</span> - {{friDate}}</th>
  </tr>
</thead>
  <tr>
    <td>
      <ul class="list-unstyled">
        <li *ngFor="let parkingSpaces of monday;">
          <span>{{parkingSpaces}}</span>
        </li>
      </ul>
    </td>
    <td>
      <ul class="list-unstyled">
        <li *ngFor="let parkingSpaces of tuesday;">
          <span>{{parkingSpaces}}</span>
        </li>
      </ul>
    </td>
    <td>
      <ul class="list-unstyled">
        <li *ngFor="let parkingSpaces of wednesday;">
          <span>{{parkingSpaces}}</span>
        </li>
      </ul>
    </td>
    <td>
      <ul class="list-unstyled">
        <li *ngFor="let parkingSpaces of thursday;">
          <span>{{parkingSpaces}}</span>
        </li>
      </ul>
      </td>
    <td>
      <ul class="list-unstyled">
        <li *ngFor="let parkingSpaces of friday;">
            <span>{{parkingSpaces}}</span>
        </li>
      </ul>
    </td>
  </tr>
</table>

<div id="note">
  <p>{{note}}</p>
</div>
