<div class="clearfix">
    <h1>ProQuest Parking Availability <span class="float-right">W/C {{fromDate}}</span></h1>
</div>
<table class="table" border="1">
  <thead>
  <tr>
    <th>M<span>onday</span></th>
    <th>T<span>ueday</span></th>
    <th>W<span>ednesday</span></th>
    <th>T<span>hursday</span></th>
    <th>F<span>riday</span></th>
  </tr>
</thead>
  <tr>
    <td>
      <ul class="list-unstyled">
        <li *ngFor="let parkingSpaces of monday;">
          <span>{{parkingSpaces}}</span>
        </li>
      </ul>
    </td>
    <td>
      <ul class="list-unstyled">
        <li *ngFor="let parkingSpaces of tuesday;">
          <span>{{parkingSpaces}}</span>
        </li>
      </ul>
    </td>
    <td>
      <ul class="list-unstyled">
        <li *ngFor="let parkingSpaces of wednesday;">
          <span>{{parkingSpaces}}</span>
        </li>
      </ul>
    </td>
    <td>
      <ul class="list-unstyled">
        <li *ngFor="let parkingSpaces of thursday;">
          <span>{{parkingSpaces}}</span>
        </li>
      </ul>
      </td>
    <td>
      <ul class="list-unstyled">
        <li *ngFor="let parkingSpaces of friday;">
            <span>{{parkingSpaces}}</span>
        </li>
      </ul>
    </td>
  </tr>
</table>

<div id="note">
<p>{{note}}</p>
</div>
